body, html{
   height: 100%;
   margin: 0;
   padding: 0;
   background: #fcdab7;
  font-family: sans-serif;
}
.image{
  position: relative;
  height: 700px;
  overflow: hidden;
  background: url(bbg.jpg) no-repeat center;
  background-size : cover;
 }
.container{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  text-align: center;
  color: black;
  font-weight:  900;
  text-transform: uppercase;
}
.container h1{
  font-size: 72px;
  letter-spacing: 0.2em;
  margin: 0;
}
.container h1 span{
  border:10px solid black;
  padding: 6px 14px;
  display: inline-block;
}
.des{
  margin: 20px;
  display: block;
  font-size: 26px;
  text-shadow:0 0 10px black:
}
